header {
  font-family: 'WorkSans-Bold';
  padding-top: 53px;

  img {
    width: 183px;
    height: 62px;
    vertical-align: top;
  }

  p {
    padding-top: 20px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 5.6px;
    text-transform: uppercase;
  }
}