section {
  padding-top: 65px;
  font-family: 'Avalon-Bold';

  h1 {
    font-size: 60px;
    line-height: 67px;
    letter-spacing: 0.8px;

    span {
      color: #fedd23;
    }
  }

  h2 {
    padding: 45px 215px 0;
    text-size: 24px;
    line-height: 43px;
  }
}