@font-face {
  font-family: 'WorkSans-Bold';
  src: url(../fonts/workSansBold.ttf);
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url(../fonts/workSansRegular.ttf);
}

@font-face {
  font-family: 'Avalon-Bold';
  src: url(../fonts/avalonBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 100% 'WorkSans-Regular', Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #191919;
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}